<p>created my component from the cli using the command 
    <em>
        ng generate component servers
    </em>
</p>

<label for="server_name"> Server name</label>
<input type="text" class="form-control" id="server_name" name="server_name" (input)="onUpdateServerName($event)">
<p>{{serverName}}</p>

<input type="button" value="Add New Server" class="btn btn-primary btn-md" [disabled]="!allowNewServer" (click)="onCreateServer()">

<!-- <p [innerText]="allowNewServer"></p> -->

<p>{{ serverCreationStatus }}</p>